<!DOCTYPE html>
@{
    ViewBag.Title = "Storefront Application"; //do i need to come back and rename?
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title</title>
    <!--
    Next Level CSS Template
    https://templatemo.com/tm-532-next-level
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/templatemo-style.css" />
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css.map"/>*@


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row tm-brand-row">
        <div class="col-lg-4 col-10">
            <div class="tm-brand-container">
                <div class="tm-brand-texts">
                    <h1 class="text-uppercase tm-brand-name">Business Name</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-2 tm-nav-col">
        <div class="tm-nav">
            <nav class="navbar navbar-expand-lg navbar-light tm-navbar">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--TODO the highlight current page isn't working properly-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                            @*<div class="tm-nav-link-highlight"></div>*@
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="tm-nav-link-highlight"></div>
                            <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li class="nav-item">
                            <div class="tm-nav-link-highlight"></div>
                            <a class="nav-link" href="@Url.Action("Gallery", "Home")">Gallery</a>
                        </li>
                        <li class="nav-item">
                            @*<div class="tm-nav-link-highlight"></div>*@
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody() <!--Don't want to put this at the top-->
        <!-- Page footer -->
        <footer class="row tm-page-footer">
            <p class="col-12 tm-copyright-text mb-0">
                Copyright &copy; @DateTime.Now.Year
                <a href="https://fb.com/templatemo" rel="nofollow" class="tm-copyright-link">Designed by Template Mo</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/parallax.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="https://kit.fontawesome.com/4263a2b62a.js" crossorigin="anonymous"></script>

    <!-- Custom Script to highlight the selected navigation -->
    <script>
        $(function (){
            $('div#navbarNav ul.navbar-nav li.nav-item').each(
                function () { 
                    if ($(this).find('a').attr('href') == window.location.pathname) {
                        $(this).addClass("active"); 
                    }
                }
            )
        });
    </script>
</body>
</html>